DATA_ROOT=./data

WHISPER_MODEL=medium-int8
WHISPER_LANGUAGE=ru
 
VAULTWARDEN_SIGNUPS_ALLOWED=true
VAULTWARDEN_DOMAIN=https://localhost:5001
 
PHOTOPRISM_ADMIN_USER=admin
PHOTOPRISM_ADMIN_PASSWORD=pass
PHOTOPRISM_DATABASE_DRIVER=sqlite
PHOTOPRISM_ORIGINALS_LIMIT=5000
PHOTOPRISM_SITE_URL=http://localhost/

ALL_CASH_SERVER_IMAGE=olegtemek/all-cash-server
ALL_CASH_WEB_IMAGE=olegtemek/all-cash-pwa-mobile
ALL_CASH_DOCKER_USER=10001:10001
ALL_CASH_APP_PULL_LIMIT=2000
ALL_CASH_APP_LOG_LEVEL=info
ALL_CASH_SERVER_PORT=8000
ALL_CASH_SERVER_READ_TIMEOUT=30s
ALL_CASH_SERVER_WRITE_TIMEOUT=30s
ALL_CASH_SERVER_SHUTDOWN_TIMEOUT=10s
ALL_CASH_SERVER_CORS_ORIGINS=*
