DATA_ROOT=./data

WHISPER_MODEL=medium-int8
WHISPER_LANGUAGE=ru
 
VAULTWARDEN_SIGNUPS_ALLOWED=true
VAULTWARDEN_DOMAIN=https://localhost:5001
 
PHOTOPRISM_ADMIN_USER=admin
PHOTOPRISM_ADMIN_PASSWORD=pass
PHOTOPRISM_ORIGINALS_LIMIT=5000
PHOTOPRISM_SITE_URL=http://localhost/

BESZEL_APP_URL=http://localhost:8090
BESZEL_TOKEN=     
BESZEL_KEY=